@font-face {
    font-family: font1;
    src: url('./fonts/solena-reg.otf');
    src: url('./fonts/solena-reg.eot');
    /* IE9 Compat Modes */
    src: url('./fonts/solena-reg.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/solena-reg.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/solena-reg.ttf') format('truetype'), /* Safari, Android, iOS */
}

#saveface {
    font-family: font1;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px) {
    .global-search {
        padding: 20px 0;
        text-align: center;
    }
    body {
        padding-top: 15%;
        padding-bottom: 15px;
    }
    .global-search {
        text-align: center;
        padding: 10px;
    }
    .global-search .form-control {
        width: 500px;
    }
    .global-search * {
        display: inline-block;
        margin-bottom: 0;
    }
}

.topcorner {
    position: absolute;
    top: 2%;
    right: 2%;
}