@font-face {
    font-family: font1;
    src: url('/static/fonts/solena-reg.otf');
    src: url('/static/fonts/solena-reg.eot');
    /* IE9 Compat Modes */
    src: url('/static/fonts/solena-reg.woff2') format('woff2'), /* Super Modern Browsers */
    url('/static/fonts/solena-reg.woff') format('woff'), /* Pretty Modern Browsers */
    url('/static/fonts/solena-reg.ttf') format('truetype'), /* Safari, Android, iOS */
}

#saveface {
    font-family: font1;
}

.topcorner {
    position: absolute;
    top: 2%;
    right: 2%;
}

#prev_form {
    margin-top: 10.5vh;
    display: inline-block;
}

#adv_form {
    display: inline-block;
}

.autocomplete-active {
    color: #e45c27;
    cursor: pointer;
}

#inputautocomplete-list {
    text-align: left;
    color: black;
    opacity: 0.98;
    position: absolute;
    width: 100%;
    z-index: 1;
    max-height: 55vh;
    overflow: scroll;
    padding-left: 2vh;
    padding-top: 2vh;
    background-color: #F5F5F5;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.a-items text {
    margin-left: 5vh;
    padding-bottom: 5px;
}

.a-items:hover,
.a-items:hover:active,
.a-items:hover:focus {
    text-decoration: none;
    color: #e45c27;
    cursor: pointer;
}

.a-items {
    padding-bottom: 15px;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001;
    /* anything higher than z-index: 1000 of .loader-section */
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* # sourceMappingURL=bg2.css.map */