<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/static/css/outputs.css" rel="stylesheet" id="outputs-css">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Results</h1>
            </div>

            <div styyle="align: center">
                <button class="btn btn-default filter-button" data-filter="alphabetical">Alphabetical</button>
                <button class="btn btn-default filter-button" data-filter="positive">Most Postitively Reviewed</button>
                <button class="btn btn-default filter-button" data-filter="healthy">Most Healthy</button>
                <button class="btn btn-default filter-button" data-filter="cheap">Cheapest</button>
            </div>
            <br />

            <script id="product_template" type="text/html">
                {% raw %}
                <div class="block">

                    <div class="top">
                        <ul>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                            <li><span class="brand">{{ brand }}</span></li>
                            <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                    <div class="middle">
                        <img src="{{ image }}" alt="pic" />
                    </div>

                    <div class="bottom">
                        <div class="product-name">{{ product_name }}</div>
                        <div class="shade">{{ shade }}</div>
                        <div class="prices">{{ prices }}</div>
                        <div class="ingredients" style="text-transform: capitalize">{{ ingredients }}</div>
                    </div>

                </div>
                {% endraw %}
            </script>

            <div id="products">
                <script>
                    var array = {
                        {
                            data | tojson | safe
                        }
                    };

                    function renderProduct(item, block) {
                        var i_ingredients = item["ingredients"];
                        if (typeof i_ingredients == "object") {
                            i_ingredients = i_ingredients.join(", ")
                        }
                        var i_prices = item["prices"];
                        if (typeof i_prices == "object") {
                            i_prices = i_prices.join(", ")
                        }
                        var template = document.getElementById("product_template").innerHTML;
                        var rendered = Mustache.render(template, {
                            brand: item["brand"],
                            product_name: item["name"],
                            image: item["thumbnail"],
                            ingredients: i_ingredients,
                            prices: i_prices
                        });
                        block.innerHTML = rendered;
                    }
                    var i = 0;
                    array.forEach(function(item) {
                        var block = document.createElement("div");
                        block.className = "gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter " + String(i)
                        renderProduct(item, block)
                        i++;
                        document.getElementById("products").appendChild(block);
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>