<div class="block">

    <div class="top">
        <ul>
            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
            <li><span class="brand">{{brand}}</span></li>
            <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="middle">
        <img src={{image}} alt="pic" />
    </div>

    <div class="bottom">
        <div class="name">{{name}}</div>
        <div class="shade">{{shade}}</div>
        <div class="price">{{price}}</div>
        <div class="ingredients">{{ingredients}}</div>
    </div>

</div>