<html>

<head>
    <meta charset="utf-8">
    <link href="/static/css/main.css" rel="stylesheet" charset="utf-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="s008">
        <div class="topcorner">
            <form class="form-inline global-search">
                <h1>{{output_message}}</h1>
                <br>
            </form>
        </div>

        <div class="inner-form">
            <form id="prod_shade_form" method="GET">
                  <div class="advance-search">
                    <div class="row">
                        <div class="input-field">
                            <div class="input-select">
                                <!-- select product -->
                                <select id ="selectp" data-trigger="" name="selectp choices-single-defaul">
                                    <option placeholder="" value="" disabled selected>"Enter your current product"</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <!-- select shade -->
                            <div class="input-select">
                                <select id ="selects" data-trigger="" name="selects choices-single-defaul">
                                    <option placeholder="" value="" disabled selected>"Enter your current shade"</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row third">
                            <div class="input-field">
                                <div class="result-count">
                                    <button class="btn-delete" id="delete">Reset</button>
                                </div>

                                <script>
                                    var myform = document.getElementById('prod_shade_form');
                                    myform.onsubmit = function () {
                                        var b = String(({{ brand | tojson | safe }}));
                                        document.getElementById("selectp").value = b;
                                        myform.submit();
                                    };
                                </script>

                                <div class="group-btn">
                                    <button type="submit" class="btn btn-search" name="adv-search">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <script>
            p = ({{ products | safe }});
            s = ({{ shades | safe }});

            function populate(product, shade){
                var product = document.getElementById(selectp);
                var shade = document.getElementById(selects);

                product.innerHTML = "";
                shade.innerHTML = "";

            var prodOptions = [];
            var optionArray = ["|","camaro|Camaro","corvette|Corvette","impala|Impala"];

                if(product.value == "Chevy"){
                    var optionArray = ["|","camaro|Camaro","corvette|Corvette","impala|Impala"];
                } else if(product.value == "Dodge"){
                    var optionArray = ["|","avenger|Avenger","challenger|Challenger","charger|Charger"];
                } else if(product.value == "Ford"){
                    var optionArray = ["|","mustang|Mustang","shelby|Shelby"];
                }
                for(var option in optionArray){
                    var pair = optionArray[option].split("|");
                    var newOption = document.createElement("option");
                    newOption.value = pair[0];
                    newOption.innerHTML = pair[1];
                    shade.options.add(newOption);
                }
            }
            populate(document.getElementById("input"), p);
        </script>


        <script>
            p = ({{ products | safe }});
            function autocomplete(inp, arr) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*execute a function when someone writes in the text field:*/
                inp.addEventListener("input", function(e) {
                    var a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) {
                        return false;
                    }
                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) {
                        /*check if the item starts with the same letters as the text field value:*/
                        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement("DIV");
                            b.setAttribute("class", "a-items");
                            /*make the matching letters bold:*/
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            /*insert a input field that will hold the current array item's value:*/
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                            b.addEventListener("click", function(e) {
                                /*insert the value for the autocomplete text field:*/
                                inp.value = this.getElementsByTagName("input")[0].value.replace("'", "\'");
                                // .replace("'", "%27")
                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function(e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocus variable:*/
                        currentFocus++;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 38) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocus variable:*/
                        currentFocus--;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        /*If the ENTER key is pressed, prevent the form from being submitted,*/
                        e.preventDefault();
                        // document.getElementById("icon-wrap").click();
                        if (currentFocus > -1) {
                            /*and simulate a click on the "active" item:*/
                            if (x) x[currentFocus].click();
                        }
                    }
                });

                function addActive(x) {
                    /*a function to classify an item as "active":*/
                    if (!x) return false;
                    /*start by removing the "active" class on all items:*/
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);
                    /*add class "autocomplete-active":*/
                    x[currentFocus].classList.add("autocomplete-active");
                }

                function removeActive(x) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }

                function closeAllLists(elmnt) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener("click", function(e) {
                    closeAllLists(e.target);
                });
            }

            /*initiate the autocomplete function on the "inut" element, and pass along the brands array as possible autocomplete values:*/
            autocomplete(document.getElementById("input"), p);
        </script>

        <!-- <div id="productforms">
            <div class="col-xs-6">
                <select class="form-control" name="select1" id="select1">
                    <option value="1">Fruit</option>
                    <option value="2">Animal</option>
                    <option value="3">Bird</option>
                    <option value="4">Car</option>
                </select>
            </div>
            <div class="col-xs-6">
                <select class="form-control" name="select2" id="select2">
                    <option value="1">Banana</option>
                    <option value="1">Apple</option>
                    <option value="1">Orange</option>
                    <option value="2">Wolf</option>
                    <option value="2">Fox</option>
                    <option value="2">Bear</option>
                    <option value="3">Eagle</option>
                    <option value="3">Hawk</option>
                    <option value="4">BWM</option>
                    <option>
                    </option>
                </select>
            </div>
        </div> -->
        <script>
            //Reference: https://jsfiddle.net/fwv18zo1/
            var $select1 = $('#select1'),
                $select2 = $('#select2'),
                $options = $select2.find('option');

            $select1.on('change', function() {
                $select2.html($options.filter('[value="' + this.value + '"]'));
            }).trigger('change');
        </script>
</body>

</html>